**Ques1.1** Write a Python Program to implement your own myreduce() function which works exactly
like Python's built-in function reduce()

In [1]:
def func1(a, b):
  return a+b

In [26]:
def myreduce(func, ls):
  sum= ls[0]
  for i in range(1,len(ls)):
    temp=ls[i]
    sum=func1(sum, temp)
  return sum

In [ ]:
myreduce(func1, [10, 20, 30, 40])

**Ques1.2** Write a Python program to implement your own myfilter() function which works exactly
like Python's built-in function filter()

In [2]:
def func2(var):
  if type(var)==int:
    return True
  return False

In [7]:
def myfilter(func2, param):
  for _ in param:
    if func2(_):
      print(_)

In [8]:
myfilter(func2, ('A', 1, 'B', 2))

1
2

**Ques2.** Write List comprehensions to produce the following Lists:

(a) ['A', 'C', 'A', 'D', 'G', 'I', ’L’, ‘ D’]

In [9]:
str = "ACADGILD"
ls = [_ for _ in str]
ls

['A', 'C', 'A', 'D', 'G', 'I', 'L', 'D']

(b)['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [7]:
str = "xyz"
ls = [char*num for char in str for num in range(1,5)]
ls

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

(c) ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [8]:
str = "xyz"
ls = [char*num for num in range(1,5) for char in str]
ls

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

(d) [[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [11]:
ls = [[i+j] for i in range(2, 5) for j in range(0,3)]
ls

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

(e) [[2, 3, 4, 5], [3, 4, 5, 6],[4, 5, 6, 7], [5, 6, 7, 8]]

In [12]:
ls = [[i+j for i in range(2, 6)] for j in range(0, 4)]
ls

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

(f) [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [13]:
ls = [(j,i) for i in range(1,4) for j in range(1,4)]
ls

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]